/*
1. Posicionamiento.
2. Modelo caja (Box model).
3. Tipografia.
4. Visuales.
5. Otros.
*/
:root{
    /*Colores primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    /*Colores secondary*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Red Hat Display';
}
/*main*/
/*Imagen de cabecera*/
.card{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/pattern-background-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card__container{
    width: 330px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.card__header-img{
    width: 330px;
    height: 146.663px;
}
/*content*/
.card__content{
    margin: 0px 20px;
}
.card__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    line-height: 5.5rem;
    padding-top: 9px;
    color: var(--dark-blue);
}
.card__description{
    text-align: center;
    padding: 0 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--desaturated-blue);
}
.card_price-box{
    display: flex;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: var(--very-pale-blue);
}
.card__container-repet{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__icon{
    width: 50px;
    height: 50px;
}
.card__price-info{
    display: block;
    margin: auto 0;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 2.3rem;
    color: var(--dark-blue);
}
.card__price-info p{
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: var(--desaturated-blue);
}
.card__link{
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--bright-blue);
}
.card__link:hover{
    color: var(--desaturated-blue);
    text-decoration: none;
}
.boton{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: white;
    background-color: var(--bright-blue);
    box-shadow: 0px 10px 10px -9px var(--bright-blue);
}
.boton:hover{
    background-color: var(--desaturated-blue);
}
.boton--secondary{
    position: static;
    color: var(--desaturated-blue);
    background-color: white;
    box-shadow: 0px 0px 0px var(--bright-blue);
}
.boton--secondary:hover{
    background-color: white;
    color: var(--dark-blue);
}